.first__button {
    text-align: left;
}

.btn {
    color: $smokyblack;
}

.button__newsletter {
    transform: rotate(90deg);
    position: absolute;
    right: -1rem;
    bottom: 7rem;
    font-weight: bold;
}