.form__cube {
    background-color: $smokyblack;
    height: 12rem;
    margin-top: 2rem;
    padding-top: 2rem;
    margin-right: 3rem;
    @media(min-width: 1200px) {
        margin-top: 5rem;
    }
}

.form__cube-text {
    padding-left: 1rem;
    color: $isabelline;
}

label {
    font-family: $old;
    font-size: $x-large;
    color: $white;
    font-weight: bold;
}

.form-group {
    text-align: left;
}

.imput {
    @media(min-width: 573px) {
        max-width: 82%;
    }
}