.navigation {
    .container {
        padding: 0;
    }
}

.logo {
    width: 80px;
    height: 80px;
    background-color: $smokyblack;
    text-align: center;
    font-weight: bold;
    font-size: $large;
    color: $white;
    @media(min-width: 573px) {
        transform: rotate(270deg);
    }
}

.menu {
    .nav-link {
        color: $smokyblack!important;
        font-weight: bold;
        margin-right: 1.5rem;
    }
}